<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="GraphEditor.grapheditormodel.presentation.GrapheditormodelModelWizardID"
            name="%_UI_GrapheditormodelModelWizard_label"
            class="GraphEditor.grapheditormodel.presentation.GrapheditormodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GrapheditormodelModelFile.gif">
         <description>%_UI_GrapheditormodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="GraphEditor.grapheditormodel.presentation.GrapheditormodelEditorID"
            name="%_UI_GrapheditormodelEditor_label"
            icon="icons/full/obj16/GrapheditormodelModelFile.gif"
            extensions="grapheditormodel"
            class="GraphEditor.grapheditormodel.presentation.GrapheditormodelEditor"
            contributorClass="GraphEditor.grapheditormodel.presentation.GrapheditormodelActionBarContributor">
      </editor>
   </extension>

</plugin>
